@{
    ViewData["Title"] = "Movie List";
}

<h2>@ViewData["Title"]</h2>
<p>Welcome to the Movie List page!</p>
<p>Here you can find a list of your favorite movies.</p>
<p>Feel free to explore and add new movies to your list.</p>